In [1]:
1 * 3

3

In [3]:
1.0

1.0

In [4]:
1 + 1

2

In [5]:
1 * 3

3

In [6]:
1 / 2 #floating point division

0.5

In [7]:
1 // 2 #integer division

0

In [8]:
2 // 2

1

In [9]:
 2 ** 4

16

In [10]:
2 + 3 * 5 + 5

22

In [11]:
(2+3) * (5+5)

50

In [12]:
4 % 2 #remainder

0

In [13]:
car = 2

In [14]:
car

2

In [16]:
x = 2
y = 3

In [17]:
x * y

6

In [18]:
x = x*x

In [19]:
x

4

In [20]:
x = x+x

In [21]:
x

8

In [22]:
#strings

In [27]:
' single '

' single '

In [25]:
"dou'ble"

"dou'ble"

In [28]:
x = 'hello'

In [29]:
x

'hello'

In [30]:
print(x)

hello

In [31]:
num = 12 
name = 'AARU'

In [34]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is AARU

In [35]:
s = 'hello'

In [64]:
s[::-1]

'olleh'

In [65]:
[1,2,3]

[1, 2, 3]

In [67]:
my_lst = ['a']

In [69]:
my_lst.append('d')

In [70]:
my_lst

['a', 'd']

In [75]:
my_lst[0] = 'NEW'

In [76]:
my_lst

['NEW', 'd']

In [77]:
nest = [1,2,[3,4]]

In [78]:
nest

[1, 2, [3, 4]]

In [80]:
nest[2][0]

3

In [82]:
nest = [1,2,3,[4,5,['target']]]

In [84]:
print(nest[3][2][0])

target

In [86]:
d = {'key1':'value','key2':123}

In [89]:
d['key2']

123

In [90]:
d = {'q':[1,2,3]}

In [94]:
d['q'][2]

3

In [95]:
d = {'q':{'innerey':[1,2,3]}}

In [96]:
d['q']['innerey'][1]

2

In [97]:
t = (1,2,3)

In [99]:
t[0]

1

In [100]:
{1,2,3}

{1, 2, 3}

In [101]:
s = {1,2,3}

In [102]:
s

{1, 2, 3}

In [103]:
s.add(5)

In [104]:
s

{1, 2, 3, 5}

In [105]:
1>2

False

In [106]:
1 < 2

True

In [107]:
1 >= 2

False

In [108]:
1 <= 1

True

In [109]:
1 == 1

True

In [112]:
1 != 10

True

In [114]:
'hi' != 'hi'

False

In [115]:
h = 'hi'

In [116]:
'hi' != h

False

In [120]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [123]:
if 1 == 2:
    print('yep!')
elif 4 == 4:
    print('Second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Second

In [3]:
seq = [1,2,3,4,5]

In [4]:
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [5]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [8]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [10]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
x = [1,2,3,4]

In [12]:
out = []

for num in x:
    out.append(num**2)

In [13]:
print(out)

[1, 4, 9, 16]

In [17]:
[num**3 for num in x]

[1, 8, 27, 64]

In [19]:
out = [num**2 for num in x]
out

[1, 4, 9, 16]

In [40]:
def my_func(par1,name= ' Default Name'):
    print(par1 + ' Aarti' + ' '+name)

In [41]:
my_func('hi','singh')

hi Aarti singh

In [45]:
def square(num):
    """
    this is a docstring 
    """
    return num**2

In [46]:
output = square(2)

In [47]:
output

4

In [48]:
range

In [49]:
def times2(var):
    return var**2

In [50]:
times2(5)

25

In [51]:
#map()

In [52]:
seq = [1,2,3,4,5]

In [55]:
list(map(times2,seq))

[1, 4, 9, 16, 25]

In [57]:
t = lambda var:var**2

In [59]:
t(6)

36

In [64]:
list(map(lambda num:num,seq))

[1, 2, 3, 4, 5]

In [65]:
list(filter(lambda num:num%2 == 0, seq))

[2, 4]

In [66]:
s = 'hello my name is Sam'

In [67]:
s.lower()

'hello my name is sam'

In [68]:
s.capitalize()

'Hello my name is sam'

In [69]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [73]:
tweet = 'Go Sports! #sports'

In [76]:
tweet.split('#')[1]

'sports'

In [78]:
d = {'k1':1,'k2':2}

In [79]:
d.keys()

dict_keys(['k1', 'k2'])

In [80]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [81]:
d.values()

dict_values([1, 2])

In [82]:
lst = [1,2,3,4]

In [83]:
lst.pop()

4

In [84]:
lst

[1, 2, 3]

In [85]:
lst = [1,2,3,4,5]

In [86]:
item = lst.pop()

In [87]:
lst

[1, 2, 3, 4]

In [88]:
item

5

In [89]:
lst.pop()

4

In [90]:
item

5

In [91]:
lst

[1, 2, 3]

In [92]:
item

5

In [94]:
lst.pop(0)

1

In [95]:
lst

[2, 3]

In [101]:
lst.pop()[-1]

'w'

In [102]:
lst

[2, 3]

In [103]:
lst.append('new')

In [104]:
lst

[2, 3, 'new']

In [106]:
'x' in [1,2,3,'x']

True

In [107]:
x = [(1,2),(3,4),(5,6)]

In [108]:
x[0][1]

2

In [111]:
for a,b in x:
    print(b)

2
4
6